@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color: blue;
    width: auto;
    height: 700;
}

#header{
    text-align: center;
    text-decoration: none;
}

#top{
    color: white;
    text-decoration: none;
    font-weight: 900;
    padding: 8px;
}

#title{
    color: white;
    font-family: 'Roboto';
    text-align: center;
    font-size: 288px;
    font-weight: 300;
}

#firma{
    color: white;
    font-family: 'Roboto';
    text-align: center;
    font-size: 16px;
    font-weight: 100;
}
